# Lokaty terminowe z uwzględnieniem podatku

$K_{n}=K_{0}\cdot\left(1+\left(1-\dfrac{p}{100}\right)\cdot\dfrac{r}{100\cdot m}\right)^{n\cdot m}$

$K_{0}$ - kapitał początkowy

$r$ - oprocentowanie

$m$ - ilość okresów kapitalizacji

$n$ - ilość lat

$p$ - $\%$ odporowadzonego podatku

In [36]:
def KwotaPoLokacieZad5(K0, r, m, n, opodatkowanie = 19):
    kwota_po_lokacie = K0 * ( (1 + (1-opodatkowanie/(100))*(r)/(100*m)))**( m*n ) - K0

    zysk = int(kwota_po_lokacie * 100)/100

    return zysk

In [52]:
def KwotaPoLokacieZad6(K0, r, m, n, opodatkowanie = 19):

    KwotaPoczatkowa = K0
    ilosc_naliczen = m*n
    
    for i in range(ilosc_naliczen):
        K = K0 * ( (1+(1-opodatkowanie/(100)) * (r)/(100*m)) )
        K = int(K*100)/100
        K0 = K
        
    zysk = int( (K - KwotaPoczatkowa)*100)/100
    
    return zysk

In [53]:
K0,r,m,n = 1000,2.3,2,2
zysk1_5 = KwotaPoLokacieZad5(K0,r,m,n)
zysk1_6 = KwotaPoLokacieZad6(K0,r,m,n)
print('Zad 5: Zysk z lokaty wynosi: ',zysk1_5,' zł.')
print('Zad 6: Zysk z lokaty wynosi: ',zysk1_6,' zł.')

Zad 5: Zysk z lokaty wynosi:  37.78  zł.
Zad 6: Zysk z lokaty wynosi:  37.75  zł.

In [54]:
K0,r,m,n = 1000,2.29,1,2
zysk2_5 = KwotaPoLokacieZad5(K0,r,m,n)
zysk2_6 = KwotaPoLokacieZad6(K0,r,m,n)
print('Zad 5: Zysk z lokaty wynosi: ',zysk2_5,' zł.')
print('Zad 6: Zysk z lokaty wynosi: ',zysk2_6,' zł.')

Zad 5: Zysk z lokaty wynosi:  37.44  zł.
Zad 6: Zysk z lokaty wynosi:  37.43  zł.

In [55]:
K0,r,m,n = 1000, 2.35, 4, 1
zysk3_5 = KwotaPoLokacieZad5(K0,r,m,n)
zysk3_6 = KwotaPoLokacieZad6(K0,r,m,n)
print('Zad 5: Zysk z lokaty wynosi: ',zysk3_5,' zł.')
print('Zad 6: Zysk z lokaty wynosi: ',zysk3_6,' zł.')

Zad 5: Zysk z lokaty wynosi:  19.17  zł.
Zad 6: Zysk z lokaty wynosi:  19.14  zł.